DATABASE_URL=postgresql://coati:coati@localhost:5432/coati_dev
DATABASE_URL_TEST=postgresql://coati:coati@localhost:5433/coati_test
POSTGRES_USER=coati
POSTGRES_PASSWORD=coati
POSTGRES_DB=coati_dev
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
